<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="mainMenu">
		<size>800,600</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,0</pos>
			<size>800,600</size>
			<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton1" member="yes">
				<pos>272,24</pos>
				<size>224,23</size>
				<bg>wxSYS_COLOUR_HIGHLIGHT</bg>
				<handler function="OnBitmapButton1Click" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
